/* @tailwind base; */

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.static {
  position: static
}

.block {
  display: block
}

.flex {
  display: flex
}

.table {
  display: table
}

.border-2 {
  border-width: 2px
}

.border-solid {
  border-style: solid
}

.border-sky-500\/0 {
  border-color: rgb(14 165 233 / 0)
}

.p-1 {
  padding: 0.25rem
}

.hover\:border-sky-500:hover {
  --tw-border-opacity: 1;
  border-color: rgb(14 165 233 / var(--tw-border-opacity))
}